.container {
    padding-left: 20px;
    padding-right: 20px;
}

.header {
    width: calc(100% - 36px);
    top: 26px;
    left: 0;
    right: 0;
    max-width: 1362px;
    margin-left: auto;
    margin-right: auto;

    &__container {
        position: relative;
    }

    &__logo {
        position: absolute;
        display: block;
        top: -16px;
        left: 37px;
    }

    &__menu {
        padding: 12px 16px;
        max-width: 100%;
        justify-content: flex-end;
    }
    &__menu-item {
        &-button {
            width: 260px;
        }
        position: relative;
        z-index: 2;
        >ul {
            display: block;
            transition: ease .3s;
            width: 260px;
            padding-top: 15px;
            position: absolute;
            top: -15px;
            left: 0;
            z-index: -1;
            opacity: 0;
            >li {
                margin-bottom: -20px;
                transition: ease .3s;
            }
        }

        &:hover {
            >ul {
                opacity: 1;
                top: 45px;
                > li {
                    margin-bottom: 8px;
                }
            }
        }
    }
    .button--link {
        font-size: 18px;
        line-height: 45px;
    }

    &__menu-icon {
        width: 17px;
        height: 17px;
    }
}

.footer {
    &__copyright {
        font-size: 16px;
        padding-top: 27px;
    }
}


.d-sm-none {
    display: block!important;
}
.d-lg-none {
    display: none!important;
}



.bounce {
    &:hover {
        .button-icon {
            animation: hover-icon 1s ease both;
        }
    }
}
@keyframes hover-icon {
	0%,
	20%,
	50%,
	80%,
	100% {
		-webkit-transform: translateX(0);
		        transform: translateX(0);
	}
	40% {
		-webkit-transform: translateX(-10px);
		        transform: translateX(-10px);
	}
	60% {
		-webkit-transform: translateX(-5px);
		        transform: translateX(-5px);
	}
}