
html {
    scroll-behavior: smooth;
  }

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    position: relative;
    font-family: var(--font-main);
    list-style: none;
    -webkit-font-smoothing: antialiased;
    font-weight: 400;
}

.button--link {
    text-decoration: none;
    color: white;
    display: flex;
    gap: 9px;
    align-items: center;
}

.button {
    justify-content: center;
    border-radius: 8px;
    line-height: 43px;
    width: 100%;
    transition: ease .2s;

    &--orange {
        background: var(--color-a);
        &:hover {
            background: var(--color-a-hover);
        }
    }
    &--blue {
        background: var(--color-b);
        &:hover {
            background: var(--color-b-hover);
        }
    }
}

.container {
    width: 100%;
    max-width: 1360px;
    margin-left: auto;
    margin-right: auto;
}

.uppercase {
    text-transform: uppercase;
}

.header {
    background: var(--black);
    border-radius: 10px;
    background: rgba(0,0,0,.8);
    position: fixed;
    top: 10px;
    left: 18px;
    right: 18px;
    z-index: 2;

    
    * {
        -moz-osx-font-smoothing: grayscale;
        -webkit-text-stroke: 0.45px rgba(255,255,255, 0.1);
    }

    &__logo {
        display: none;
    }

    &__menu {
        width: 100%;
        display: flex;
        justify-content: space-between;
        max-width: 340px;
        margin-left: auto;
        padding: 8px;
    }

    &__menu-item {
        line-height: 43px;
        font-size: 15px;
        a {
            text-decoration: none;
            color: white;
            display: flex;
            gap: 9px;
            align-items: center;
        } 
        &-button {
            width: 117px;
            margin-left: 23px;
        }
        .button {
            font-size: 15px;
        }

        >ul {
            display: none;
        }
    }
}

.footer {
    background: var(--black);
    color: white;

    &__container {
        width: 100%;
        max-width: 1362px;
        margin: auto;
    }

    &__sponsors {
        border-bottom: 1px solid rgba(255,255,255,.36);
        padding: 20px 25px 46px;

    }

    &__sponsors-title {
        margin: 20px 0 0;
        font-family: var(--font-text);
        font-size: 20px;
        color: rgba(255,255,255,.64);
        text-align: center;
    }

    &__sponsors-brands-container {
        margin-top: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 48px;
    }

    &__sponsors-brand {
        height: 100px;

        figure {
            height: 100px;

            img {
                width: 100%;
                height: 100%;
            }
        }
    }



    &__copyright {
        padding: 20px 25px 40px;
        font-family: var(--font-text);
        font-size: 14px;
        line-height: 16px;
        display: flex;
        justify-content: space-between;
        gap: 25px;
        width: 100%;
    }
}

.d-sm-none {
    display: none!important;
}