.featured {
    display: flex;
    width: 100%;
    background-image: url('../img/featured-image-mobile.jpg');
    background-repeat: no-repeat;
    background-position: center top;
    background-size: auto 500px;
    background-color: var(--module-background);
    padding-top: 440px;
    &__container {
        width: 100%;
    }

    &__main {
        background-image: url(../img/bg-featured.svg);
        background-repeat: no-repeat;
        background-size: 120%;
        background-position: center top;
        padding: 44px 18px;
        position: relative;
        &:before {
            content: "";
            position: absolute;
            display: block;
            left: 0;
            right: 0;
            bottom: 0;
            height: calc(100% - 200px);
            background: var(--color-light);
        }
    }

    &__logo {
        width: 175px;
        margin: auto;
        figure {
            width: 100%;
            img {
                width: 100%;
                height: auto;
                filter: drop-shadow(0px 4px 46px rgba(255, 255, 255, 0.83));
            }
        }
    }

    &__content {
        width: 100%;
        padding: 25px 0;
        font-weight: normal;
        color: var(--color-main);
    }

    &__content-data {
        font-size: 30px;
        line-height: 34px;
        &--white {
            color: white;
        }
    }

    &__distance {
        font-size: 75px;
        line-height: 1;
        text-align: center;
        padding: 30px 0;
        > span {
            display: inline-block;
            width: 93px;
            height: 1px;
            background: var(--color-main);
            transform: rotate(-64deg) translate(36px, -10px);
            margin: 0 -20px;
        }
    }

    &__button {
        padding: 23px 18px;
        font-size: 20px;
        cursor: pointer;
    }
}

.module {
    display: flex;
    flex-direction: column;

    &__container {
        padding: 40px 18px;
    }

    &__title {
        font-size: 30px;
        line-height: 43px;
        color: var(--color-light);
    }

    &__main-text {
        font-family: var(--font-text);
        font-size: 18px;
        line-height: 25px;
        margin-top: 15px;
    }
    &__text {
        font-family: var(--font-text);
        font-size: 17px;
        line-height: 26px;
        margin-bottom: 1em;

        strong {
            font-family: var(--font-text);
            font-weight: 700;
        }

        a {
            color: var(--color-text);
            text-decoration: none;
            font-family: var(--font-text);
            border-bottom: 1px solid var(--color-text);
        }
    }

    &__text-ft {
        padding: 22px;
        background: white;
        border: 1px solid #f1f1f1;
        border-radius: 14px;
        box-shadow: 0 10px 20px 0 rgba(0,0,0,.15);
        margin-bottom: 40px;
    }

    &__media {
        figure {
            width: 100%;
        }
    }
    
    &__image {
        width: 100%;
        height: auto;
    }

    &__item {
        padding: 30px 0 25px 0;
        border-bottom: 1px solid var(--color-gray);
        ul {
            margin-top: 6px;
        }

        &:last-of-type {
            border-bottom: none;
        }
    }

    &__item-title {
        font-size: 20px;
        line-height: 26px;
        display: flex;
        justify-content: space-between;
        margin-bottom: 13px;
        gap: 20px;
        color: var(--color-main);
    }

    &__item-toggler {
        width: 46px;
        height: 33px;
        border: 1px solid #f1f1f1;
        border-radius: 14px;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: ease .3s;
        cursor: pointer;
        position: relative;
        &__checkbox {
            opacity: 0;
            width: 0;
            height: 0;
        }
        &__icon {
            svg {
                display: block;
                transition: ease .3s;
            }
        }
    
        &__checkbox:checked+&__icon svg{
            transform: rotate(180deg);
        }
        &:hover {
            box-shadow: 0 10px 20px 0 rgba(0,0,0,.15);
        }
    }

    &__item-content {
        transition: ease .6s;
        max-height: 2500px;
        &.collapse {
            max-height: 0;
        }
        &.overflow {
            overflow: hidden;
        }
    }

    &__button {
        width: 270px;
        margin: 30px auto;
    }

    &--dark {
        background-color: var(--color-main);
        color: white;
    }

    &--white {
        * {
            -moz-osx-font-smoothing: grayscale;
            -webkit-text-stroke: 0.45px rgba(0, 0, 0, 0.1);
        }
    }
}

.copydata {
    display: none;
}