:root {
	--black: #000000;
    --gray: #E0E0E0;

	--color-a: #FF5e00;
    --color-b: #6188EE;
    --color-a-hover: rgba(255, 94, 0, .7);
    --color-b-hover: #4462a9;


    --color-gradient-a: #374E8A;
    --color-gradient-b: #FB8B39;

    --module-background: var(--black);

	--font-text: 'Roboto', sans-serif;
	--font-main: 'Gobold', Impact, Arial, sans-serif;
	--font-secondary: 'Gobold Hollow Bold', Impact, sans-serif;

}