:root {
	--color-main: #8D1437;
    --color-light: #F2A0A0;
    --color-gray: #E0E0E0;
    --color-text: #000000;
    --color-cta: #EA1C2C;
    
    --color-cta-hover: #8D1437;

    --module-background: var(--main);

	--font-text: 'Roboto', sans-serif;
	--font-main: 'Avenir', Impact, Arial, sans-serif;

}